# Binários compilados
analise-de-sensores
*.o
*.exe

# Arquivos de log gerados em runtime
*.log

# Dados de entrada (são grandes e devem ser baixados separadamente)
data/*.json

# Arquivos do Code::Blocks
*.depend
*.layout

# Arquivos compactados
*.zip
